.policy-animation-container {
  text-align: center;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 150px;
  height: auto;
  animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
